*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body{
    height:100vh;
}
.back-img{
    background-image:url('../images/background-todolist.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    height:100%;
}
/* framework */
.container{
    max-width: 1024px;
    padding: 2%;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.center{
    justify-content:center;
}
.w-40{
    min-width:40%;;
}
/* end framework */

/* title */

.box-title{
    background-color:#990000;
    color:#FFEE63;
    padding: 1% 2%;
    text-align:center;
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
}

/* end title */

/* item */

.item{
    align-self:flex-start;
    padding: 2%;
    height:50%;
    background-color:#FFF;
    color: #990000;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 7px;
}
.item p{
    margin-left: 0.5rem;
    font-size: 1.8rem;
}
/* end item */