*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:black;
}

html, body{
    height:100%;
    text-align:center;
    font-size:25px;
    margin-top:2%;
    color:#FFF;
}

div#msg{
    padding: 0 2%;
    margin: 0 2%;
    background-color: black;
}

