@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

