<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Revision to do List part 2</title>
  </head>
  <body>
    <div class="back-img">
      <div class="container flex center">
        <div class="box-title w-40">
          <h1>Tittle</h1>
        </div>
      </div>

      <div class="container flex center">
        <div class="bg-item w-45">
          <div class="flex item">
            <input type="checkbox" />
            <p>item1</p>
          </div>
          <div class="flex item">
            <input type="checkbox" />
            <p>item2</p>
          </div>
          <div class="form">
            <form>
              <input type="text" placeholder="Write a new item" />
              <button type="submit" class="">+</button>
            </form>
          </div>
        </div>
      </div>

      <footer class="container flex center">
        <p>&copy Todos os direitos Reservados</p>
      </footer>
    </div>
  </body>
</html>
