<%- include("partials/header") %>

<h1>Compose</h1>

<div>
  <form method="post" action="/compose">
    <input type="text" value="" name="" class="form-control" />
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</div>

<%- include("partials/footer") %>
