<%- include("partials/header") %>

<h1>Compose</h1>

<div>
<<<<<<< HEAD
  <form method="post" action="/compose">
    <input type="text" value="" name="" class="form-control" />
    <button type="submit" class="btn btn-primary">Publish</button>
=======
  <form action="/" method="post">
    <label>Title</label>
    <input type="text" value="" name="newTitle" class="form-control" />
    <br />
    <label>Text</label>
    <textarea class="form-control" id="" rows="3" name="newContent"></textarea>
    <br />
    <button type="submit" class="btn btn-primary" value="" name="home">
      Publish
    </button>
>>>>>>> 8834d9aa722b68aa1f271ccceb33834e527197ea
  </form>
</div>

<%- include("partials/footer") %>
