<%- include("partials/header") %>

<h1>Compose</h1>

<div>
    <input type="text" value="" name="" class="form-control "/>
    <button type="submit" class="btn btn-primary">Publish</button>
</div>

<%- include("partials/footer") %>