@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #e1ffee;
}
.container {
  padding: 2%;
}

.titleAPP {
  text-align: center;
  margin-bottom: 2%;
}

.card-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.card {
  width: 500px;
}

.card .title-card {
  background-color: #7fbcd2;
  padding: 8% 5%;
  font-size: 1.5rem;
  border-radius: 15px 15px 0 0;
}

.card .title-card h2 {
  padding: 0 2%;
}

.img-card {
  height: 0;
}
.card .img-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #fff;
  position: relative;
  top: -80px;
  left: 58%;
}

.card .card-body {
  background-color: #a5f1e9;
  padding: 15% 4%;
  border-radius: 0 0 15px 15px;
}

.card .card-body p:not(:last-child) {
  margin-bottom: 6%;
}

.card .card-body p span {
  font-weight: 800;
}
