*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  background-color:#e4e9fd;
}

/* framework personalizado */

.container{
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  height: 100vh;
  min-height: 1000px; 
}

.title{
    color: #fff;
    padding: 2%;
}


/* Box list */

.form-new-item{
    text-align:center;
    margin-left:20px;
    padding: 2% 0 ;
}

.box{
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.box-title {
  background-color: #A683E3;
  text-align: center;
}

.item{
  min-height: 70px;
  display:flex;
  align-items:center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child{
  border-bottom: 0;
}

.item > p{
  margin: 0;
  padding: 20px;
  font-size:25px;
  font-weight: 200;
  color: #A683E3;
}

.item > input[type="checkbox"]{
  margin: 20px;
}

.item > input:checked+p {
  text-decoration:line-through;
  text-decoration-color: #9171c7;
}
.btn-send{
    min-height:50px;
    width:50px;
    border-radius:50%;
    border-color:transparent;
    background-color: #A683E3;
    color: #fff;
    font-size:30px;
    padding-bottom: 6px;
    border-width:0;
}

.btn-send:hover{
  cursor:pointer;
  background-color: #9473ce;
}

.input-new-item{
    text-align:center;
    height:50px;
    top:10px;
    border:none;
    background:transparent;
    font-size:22px;
    font-weight:200;
    width:313px;
    color: #A683E3;
}
.input-new-item:focus {
    outline:none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}


::placeholder {
    color: grey;
    opacity: 1;
}